<div class='text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
  <main class='px-3'>
    <h1>Welcome to Fwitter</h1>
    <p class='lead'>
      Welcome to the app where all your flitters are in one place! Please Login or Sign Up!
    </p>
    <p class='lead'>
      <a href="/login" class="btn btn-lg btn-outline-dark">Login</a>
      <a href="/signup" class="btn btn-lg btn-outline-dark">Sign Up</a>
    </p>
  </main>
</div>